<html>
<head>
    <title>Cao</title>

</head>

<body>
<h1>POZZ</h1>
<div>
    <link rel = "stylesheet" href="css/custom.css"/>
    <link rel = "stylesheet" href="images/back_disabled.png"/>
    <a href="fon1.png"></a>
    <link rel="icon" type="image/png" href="fon1.png"/>
</div>

</body>

</html>
